h1 {
  font-size: 84px;
  text-align: center;
  font-weight: normal;
  letter-spacing: -2px;
  margin-bottom: 32px;
  color: brown;
}

h2 {
  font-size: 36px;
  margin-bottom: 4px;
  color: brown;
}

h3 {
  font-size: 24px;
  margin-bottom: 4px;
  color: brown;
}

p {
  margin-top: 30px;
  padding: 0;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.6;
}

/* Desktops */
@media (min-width: 768px) {
  body {
    padding: 4% 20%;
  }
}

/* Mobiles */
@media (max-width: 767px) {
  body {
    padding: 12% 8%;
  }
}
