/* Web page */
body {
  background-color: rgb(247, 233, 225);
}

/* Desktops */
@media (min-width: 768px) {
  body {
    padding: 4% 20%;
  }
}

/* Mobiles */
@media (max-width: 767px) {
  body {
    padding: 12% 8%;
  }
}

/* Main heading */
h1 {
  font-family: serif;
  font-weight: bold;
  font-size: 54px;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 32px;
  line-height: 1.2;
}

/* Small headings */
h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: #5b569a;
  font-size: 32px;
  text-align: center;
  margin-bottom: 42px;
  line-height: 1.2;
}

/* Smaller headings */
h3 {
  font-family: serif;
  font-weight: bold;
  font-size: 48px;
  color: #5b569a;
  margin-top: 32px;
  margin-bottom: 4px;
}

/* Text paragraphs */
p {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 20px;
}
